name: "Build WebGoat with JFrog Artifactory"

on:
  workflow_dispatch:

# Define environment variables for the workflow
env:
  JFROG_CLI_BUILD_NAME: 'denv-github-webgoat-build'
  JFROG_CLI_BUILD_NUMBER: ${{ github.run_number }}
  JFROG_CLI_BUILD_PROJECT: ${{ vars.JF_PROJECT }}
  JFROG_CLI_LOG_LEVEL: INFO

jobs:
  build:
    name: 'Build WebGoat'
    strategy:
      matrix:
        os: 
          - ubuntu-latest
        java:
          - '23'
    runs-on: ${{ matrix.os }}

    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      # -
      #   name: Setup JDK 23
      #   uses: actions/setup-java@v4
      #   with:
      #     java-version: ${{matrix.java}}
      #     distribution: 'adopt'
      #     cache: maven
      -
        name: Setup Maven
        uses: s4u/setup-maven-action@v1.19.0
        with:
          java-version: 23
          maven-version: 3.9.8
      - 
        name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4.9.1
        env:
          JF_URL: https://${{ secrets.JF_URL }}
          JF_USER: ${{ secrets.JF_USER }}
          JF_PASSWORD: ${{ secrets.JF_PASSWORD }}
          MAVEN_OPTS: "$MAVEN_OPTS -Dorg.slf4j.simpleLogger.defaultLogLevel=debug"
        with:
          version: 2.88.0
      -
        name: Read POM
        run: |
          echo "webgoatArtifactName=$(mvn help:evaluate -Dexpression=project.artifactId -q -DforceStdout)" >> $GITHUB_ENV
          echo "webgoatVersion=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      -
        name: Configure JFrog CLI
        run : |
          jf mvn-config --repo-resolve-releases denv-maven --repo-resolve-snapshots denv-maven --repo-deploy-releases denv-maven-dev-local-releases --repo-deploy-snapshots denv-maven-dev-local-snapshots
      # -
      #   name: Run Curation Audit
      #   run: |
      #     jf curation-audit
      -
        name: Run Source Code Audit
        run: |
          jf audit --licenses --format=table --mvn=true
      -
        name: Build Maven package
        run: |
          jf mvn -B clean install -DskipTests=true --project ${{ env.JFROG_CLI_BUILD_PROJECT }}
      -
        name: Scan Maven package
        run: |
          jf scan --licenses --format=json --fail=false ./target/${{ env.webgoatArtifactName }}-${{ env.webgoatVersion }}.jar
      -
        name: Deploy Maven package to Artifactory
        if: github.ref == 'refs/heads/main'
        run: |
          ls -lR /tmp/jfrog
          jf mvn -B deploy -Dmaven.main.skip=true -Dmaven.install.skip=true -DskipTests --project ${{ env.JFROG_CLI_BUILD_PROJECT }}
      -
        name: Build Docker image
        if: github.ref == 'refs/heads/main'
        run: |
          jf docker build -f Dockerfile -t ${{ secrets.JF_URL }}/denv-docker/${{ env.webgoatArtifactName }}:${{ env.webgoatVersion }} .
          jf docker push ${{ secrets.JF_URL }}/denv-docker/${{ env.webgoatArtifactName }}:${{ env.webgoatVersion }} --project ${{ env.JFROG_CLI_BUILD_PROJECT }}
      -
        name: Scan Docker image
        if: github.ref == 'refs/heads/main'
        run: |
          jf docker scan ${{ secrets.JF_URL }}/denv-docker/${{ env.webgoatArtifactName }}:${{ env.webgoatVersion }} --severity='HIGH,CRITICAL'
      -
        name: Publish build info
        if: github.ref == 'refs/heads/main'
        run: |
          jf rt build-publish --project ${{ env.JFROG_CLI_BUILD_PROJECT }} "${{ env.JFROG_CLI_BUILD_NAME }}" "${{ env.JFROG_CLI_BUILD_NUMBER }}"
      -
        name: Create Release Bundle
        if: github.ref == 'refs/heads/main'
        run: |
          if [[ `jf rt curl -s -XGET /api/v2/release_bundle/records/webgoat/${{ env.webgoatVersion }}?project=denv | jq .created` == "null" ]] ; then
            echo "=== Generating Release Bundle ==="
            echo '
                  {
                    "builds": [
                      {
                        "name": "${{ env.JFROG_CLI_BUILD_NAME }}",
                        "number": "${{ env.JFROG_CLI_BUILD_NUMBER }}",
                        "project": "${{ env.JFROG_CLI_BUILD_PROJECT }}"
                      }
                    ]
                  } 
            ' > builds.json
            jf release-bundle-create --builds=./builds.json --project ${{ env.JFROG_CLI_BUILD_PROJECT }} --signing-key fredericg-gpg "${{ env.webgoatArtifactName }}" "${{ env.webgoatVersion }}"
          else
            echo "=== Release Bundle already exists ==="
          fi
