name: "Build WebGoat with JFrog Artifactory"

on:
  workflow_dispatch:

# Define environment variables for the workflow
env:
  JFROG_CLI_BUILD_NAME: 'gh-ejs-demo'
  JFROG_CLI_BUILD_NUMBER: ${{ github.run_number }}
  JFROG_CLI_BUILD_PROJECT: ${{ vars.JF_PROJECT }}
  JFROG_CLI_LOG_LEVEL: INFO
  JFROG_CLI_BUILD_URL: https://github.com/muldos/ejs-frog-demo/actions/runs/21165348943
  

jobs:
  build:
    name: 'Build WebGoat'
    strategy:
      matrix:
        os: 
          - ubuntu-latest
        java:
          - '23'
    runs-on: ${{ matrix.os }}

    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      # -
      #   name: Setup JDK 23
      #   uses: actions/setup-java@v4
      #   with:
      #     java-version: ${{matrix.java}}
      #     distribution: 'adopt'
      #     cache: maven
      -
        name: Setup Maven
        uses: s4u/setup-maven-action@v1.19.0
        with:
          java-version: 23
          maven-version:	3.9.10
      - 
        name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4.9.1
        env:
          JF_URL: https://${{ vars.JF_URL }}
          JF_USER: ${{ secrets.JF_USER }}
          JF_PASSWORD: ${{ secrets.JF_PASSWORD }}
          MAVEN_OPTS: "$MAVEN_OPTS -Dorg.slf4j.simpleLogger.defaultLogLevel=debug"
        with:
          disable-auto-build-publish: false
          version: 2.88.0
      -
        name: Read POM
        run: |
          echo "webgoatArtifactName=$(mvn help:evaluate -Dexpression=project.artifactId -q -DforceStdout)" >> $GITHUB_ENV
          echo "webgoatVersion=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      -
        name: Configure JFrog CLI
        run : |
          jf mvn-config --repo-resolve-releases dro-maven-virtual --repo-resolve-snapshots dro-maven-virtual --repo-deploy-releases dro-maven-dev-local --repo-deploy-snapshots dro-maven-dev-local
      # -
      #   name: Run Curation Audit
      #   run: |
      #     jf curation-audit
      # -
      #   name: Run Source Code Audit
      #   run: |
      #     jf audit --licenses --format=table --mvn=true --fail=false
      -
        name: Build Maven package
        run: |
          mvn -B clean install -DskipTests=true
      # -
      #   name: Scan Maven package
      #   run: |
      #     jf scan --licenses --format=json --fail=false ./target/${{ env.webgoatArtifactName }}-${{ env.webgoatVersion }}.jar
      # -
      #   name: Deploy Maven package to Artifactory
      #   if: github.ref == 'refs/heads/main'
      #   run: |
      #     jf mvn -B deploy -Dmaven.main.skip=true -Dmaven.install.skip=true -DskipTests --project ${{ env.JFROG_CLI_BUILD_PROJECT }}
      -
        name: Build Docker image
        if: github.ref == 'refs/heads/main'
        run: |
          jf docker build -f Dockerfile -t ${{ vars.JF_URL }}/dro-oci-dev-local/${{ env.webgoatArtifactName }}:${{ env.webgoatVersion }} .
          # jf docker push ${{ vars.JF_URL }}/dro-oci-dev-local/${{ env.webgoatArtifactName }}:${{ env.webgoatVersion }} --project ${{ env.JFROG_CLI_BUILD_PROJECT }}
      -
        name: Scan Docker image
        if: github.ref == 'refs/heads/main'
        run: |
          jf docker scan ${{ vars.JF_URL }}/dro-oci-dev-local/${{ env.webgoatArtifactName }}:${{ env.webgoatVersion }} --fail=false --vuln --format=sarif > jfrog_sast.sarif
          # jf docker scan ${{ vars.JF_URL }}/dro-oci-dev-local/${{ env.webgoatArtifactName }}:${{ env.webgoatVersion }} --fail=false --vuln
          sed -i s/"\"uri\": \"\""/"\"uri\": \"${{ vars.JF_URL }}\/dro-oci-dev-local\/${{ env.webgoatArtifactName }}:${{ env.webgoatVersion }}\""/g jfrog_sast.sarif
          echo "=============================================="
          cat jfrog_sast.sarif
          echo "=============================================="
      - 
        name: Upload output to generate autofix
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: jfrog_sast.sarif
      # -
      #   name: Publish build info
      #   if: github.ref == 'refs/heads/main'
      #   run: |
      #     jf rt build-publish --project ${{ env.JFROG_CLI_BUILD_PROJECT }} "${{ env.JFROG_CLI_BUILD_NAME }}" "${{ env.JFROG_CLI_BUILD_NUMBER }}"
      # -
      #   name: Create Release Bundle
      #   if: github.ref == 'refs/heads/main'
      #   run: |
      #     if [[ `jf rt curl -s -XGET /api/v2/release_bundle/records/webgoat/${{ env.webgoatVersion }}?project=denv | jq .created` == "null" ]] ; then
      #       echo "=== Generating Release Bundle ==="
      #       echo '
      #             {
      #               "builds": [
      #                 {
      #                   "name": "${{ env.JFROG_CLI_BUILD_NAME }}",
      #                   "number": "${{ env.JFROG_CLI_BUILD_NUMBER }}",
      #                   "project": "${{ env.JFROG_CLI_BUILD_PROJECT }}"
      #                 }
      #               ]
      #             } 
      #       ' > builds.json
      #       jf release-bundle-create --builds=./builds.json --project ${{ env.JFROG_CLI_BUILD_PROJECT }} --signing-key fredericg-gpg "${{ env.webgoatArtifactName }}" "${{ env.webgoatVersion }}"
      #     else
      #       echo "=== Release Bundle already exists ==="
      #     fi
